# Python
__pycache__/
*.py[cod]
*.log

# Virtual environment
env/
venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
